spring.application.name=BlogApi

server.port=3000

springdoc.swagger-ui.path=/api
springdoc.api-docs.path=/v3/api-docs

spring.datasource.url=jdbc:postgresql://localhost:5432/name_database
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=user
spring.datasource.password=password

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true


spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your-email@example.com
spring.mail.password=your-password

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=3000
spring.mail.properties.mail.smtp.writetimeout=5000

app.jwt.secret=5784395473894542765583672314654567378241234436658798023432467808908909234387989435465890
app.jwt.expiration=40200
app.jwt.expiration.refresh_token=600000

spring.redis.host=localhost
spring.redis.port=6379
